[Unit]
Description=8723bs Bluetooth hciattach
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=simple
ExecStartPre=/sbin/bt_reset
ExecStart=/sbin/rtk_hciattach -n -s 115200 %i rtk_h5
# Check to make sure that the device actually showed up
ExecStartPost=/bin/sleep 5
ExecStartPost=/usr/sbin/rfkill unblock all
ExecStartPost=/usr/bin/hciconfig hci0 up
Restart=always
RestartSec=10
